@import "Base settings/setup";
P{
    font-size: $font-size-normal;
}
img{
    width: 4vw;
}
a{
    font-size: $font-size-normal;
}

.project{

    text-align: center;
    align-content: center;
    & blockquote{

        font-size: $font-size-normal;
        margin-top: $space-unit-largest * 2;
        text-align: left;
        display: inline-block;
        line-height: $line-height-larger;
    }

    & mark{
        color:$color-light-green;
        font-size: $font-size-large
    }

    & p{
        font-size: $font-size-largest;
    }
}

.mask-detection{
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.memory-game{
    animation-name:shake ;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

