//  About:
//      Base settings for the website
//
 
@import "font.settings";


  //////////////
 // Spacing  //
//////////////
$base-space-unit: 2vw;

$space-unit-smaller: $base-space-unit / 3;
$space-unit-small: $base-space-unit / 2;
$space-unit-normal: $base-space-unit;
$space-unit-large: $base-space-unit * 1.5;
$space-unit-larger: $base-space-unit * 2;
$space-unit-largest: $base-space-unit * 3;




  //////////////////
 // Line Height  //
//////////////////
 $base-line-height: $base-space-unit;

 $line-height-smallest: $base-space-unit / 2;
 $line-height-small: $base-space-unit / 1.5;
 $line-height-normal: $base-space-unit;
 $line-height-large: $base-space-unit * 1.5;
 $line-height-larger: $base-space-unit * 2;