  ////////////
 // Colors //
////////////

$color-light-white: rgba(232, 238, 242, 1);
$color-light-orange: rgba(219, 122, 87, 1);
$color-light-green: rgba(0, 184, 165, 1);
$color-light-blue: rgba(7, 143, 197, 1);
$color-light-black: rgba(14, 19, 26, 1);