//  About:              //
//        Font base include all the font setting for the 
//        website.
//        Note: font-family : Quicksand ( www.fonts.googleapis.com )



  /////////////////
 // Font family //
/////////////////

// import the QuickSand font family
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{ font-family: 'Quicksand', sans-serif; }


  ////////////////
 // Font size  //
////////////////

$base-font-size: 1.8vw;

$font-size-smaller: $base-font-size / 2;
$font-size-small: $base-font-size / 1.5;
$font-size-normal: $base-font-size;
$font-size-large: $base-font-size * 1.2;
$font-size-larger: $base-font-size * 1.5;
$font-size-largest: $base-font-size * 2.5;


  /////////////////
 // Header size //
/////////////////

$header-size-1: $base-font-size * 2;
$header-size-2: $base-font-size * 1.3;
$header-size-3: $base-font-size * 1.2;
$header-size-4: $base-font-size;
$header-size-5: $base-font-size *0.9;
$header-size-6: $base-font-size * 0.8;

// Header size
h1{font-size: $header-size-1;}
h2{font-size: $header-size-2;}
h3{font-size: $header-size-3;}
h4{font-size: $header-size-4;}
h5{font-size: $header-size-5;}
h6{font-size: $header-size-6;}


  /////////////////
 // Font-weight //
/////////////////

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-exbold: 700;
$font-weight-header:$font-weight-bold;

// Header font weight 
h1, h2, h3, h4, h5, h6{font-weight: $font-weight-header;}



