//  About:              //
//        Font base include all the font setting for the 
//        website.
//        Note: font-family : Quicksand ( www.fonts.googleapis.com )



  /////////////////
 // Font family //
/////////////////

// import the QuickSand font family
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{ font-family: 'Quicksand', sans-serif; }


  ////////////////
 // Font size  //
////////////////

$base-font-size: 1.8vw;

$font-size-smaller: $base-font-size / 2;
$font-size-small: $base-font-size / 1.5;
$font-size-normal: $base-font-size;
$font-size-large: $base-font-size * 1.2;
$font-size-larger: $base-font-size * 1.5;
$font-size-largest: $base-font-size * 2.5;


  /////////////////
 // Font-weight //
/////////////////

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-mediume: 500;
$font-weight-bold: 600;
$font-weight-exbold: 700;
$font-weight-header:$font-weight-bold;

